<section class="section-about about section about-me-background-img" id="about">
  <div class="container about-container">
    <h2 class="about-title">ABOUT <span class="about-span">ME</span></h2>
    <img
      class="about-img"
      src="/img/about_foto.jpg"
      srcset="/img/about_foto.jpg 1x, /img/about_foto_xx.jpg 2x"
      alt="About Me"
    />
    <div class="bio">
      <h3 class="about-item-title">BIO</h3>
      <p class="about-text">
        I'm Lloyd Jefferson, a talented programmer specializing in software
        development. My expertise spans various programming languages and
        technologies, and I am dedicated to continually enhancing my skills. I
        thrive on seeking unconventional and creative solutions to problems,
        leveraging a high level of analytical skills to effectively tackle even
        the most challenging tasks.
      </p>
      <p class="about-text">
        Adaptable to both independent and team-oriented work, I collaborate
        seamlessly with colleagues, exchanging ideas and finding optimal
        solutions. My professional maturity enables me to navigate challenges
        and stressful situations with a calm demeanor, maintaining a
        consistently high quality of work. Committed to self-improvement, I
        actively engage in studying new technologies and practices to stay
        current with the latest innovations in the field.
      </p>
    </div>
    <div class="education">
      <h3 class="about-item-title">EDUCATION</h3>
      <ul class="education-list">
        <li>
          <p class="about-text-point">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
        </li>
        <li>
          <p class="about-text-point">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
        </li>
        <li>
          <p class="about-text-point">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </li>
      </ul>
    </div>
    <div class="role">
      <h3 class="about-item-title">ROLE</h3>
      <ul class="role-list">
        <li><p class="about-text-point">Frontend development</p></li>
        <li><p class="about-text-point">HeadlessCMS, Wordpress</p></li>
        <li><p class="about-text-point">Blender (enjoy)</p></li>
      </ul>
    </div>
  </div>
</section>
