<section class="faq section bgr-img">
  <div class="faq-wrapper container">
    <h2 class="faq-title">
      frequently asked <span class="faq-title-accent">question</span>
    </h2>
    <ul class="accordion-container">
      <li class="ac" id="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger" type="button">
            <span id="btn-text-wrap"
              >What programming languages are most often used in your
              project?</span
            >
            <svg class="faq-svg">
              <use xlink:href="/img/icon.svg#icon-FAQ"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-1">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-1" type="button">
            <span id="btn-text-wrap-1"
              >What are the deadlines for the project?</span
            >
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-1">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-2">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-2" type="button">
            <span id="btn-text-wrap-2"
              >What payment methods do you accept?</span
            >
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-2">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-3">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-3" type="button">
            <span id="btn-text-wrap-3">How can I contact you?</span>
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-3">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-4">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-4" type="button">
            <span id="btn-text-wrap-4">Do you provide advice or support?</span>
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-4">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-5">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-5" type="button">
            <span id="btn-text-wrap-5"
              >What does the process of developing a software product look like
              from idea to implementation?</span
            >
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-5">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
