<footer class="section container">
  <div class="footer-all">
    <div class="footer-all-box">
      <a href="./index.html" class="footer-logo"
        >LLOYD<span class="footer-logo-span">JEFFERSON.</span>
      </a>
      <ul class="footer-list">
        <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
        <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
        <li>
          <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >LinkedIn
          </a>
        </li>
        <li>
          <a href="https://igorivchenko.github.io/Portfolio-project/"
            >GitHub
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-copy">
      &copy; Copyright 2024. Made by <strong>LloydJefferson</strong>
    </p>
  </div>
</footer>
