<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio-project</title>
  </head>
  <body>
    <header class="page-header">
      <div class="container header-box">
        <nav class="nav">
          <a class="logo" href="./index.html"
            >Lloyd<span class="accent">Jefferson.</span></a
          >
          <button class="btn-header" id="btn-header">
            <span class="circle" id="header-mob-span"></span>
          </button>

          <ul class="nav-link">
            <li class="nav-link-tag">
              <a class="nav-tag current" href="#about">About me</a>
            </li>
            <li class="nav-link-tag">
              <a class="nav-tag" href="#projects">Projects</a>
            </li>
            <li class="nav-link-tag">
              <a class="nav-tag" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <button class="mob-menu-btn js-open-menu">
          <svg class="mob-svg" width="22px" height="16px">
            <use href="./img/icon.svg#icon-lets-mob"></use>
          </svg>
        </button>
      </div>
    </header>
  </body>
</html>
