<header class="page-header">
  <div class="container header-box">
    <nav class="nav">
      <a class="logo" href="./index.html"
        >Lloyd<span class="accent">Jefferson.</span></a
      >
      <div class="button-theme-wrapper">
        <button class="btn-header" id="btn-header">
          <span class="circle" id="header-mob-span"></span>
        </button>
        <ul class="nav-list">
          <li class="nav-link-tag">
            <a class="nav-tag" href="#about">About me</a>
          </li>
          <li class="nav-link-tag">
            <a class="nav-tag" href="#projects">Projects</a>
          </li>
          <li class="nav-link-tag">
            <a class="nav-tag" href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="mob-menu-btn js-open-menu">
      <svg class="mob-svg" width="16" height="16">
        <use href="./img/icon.svg#icon-lets-mob"></use>
      </svg>
    </button>
  </div>
</header>
