<header class="page-header">
  <div class="header-box container">
    <nav class="nav">
      <a class="logo" href="./index.html"
        >Lloyd<span class="accent">Jefferson.</span></a
      >
      <button class="btn-header" id="btn-header">
        <span class="circle" id="header-mob-span"></span>
      </button>
      <ul class="nav-list">
        <li class="nav-link-tag">
          <a class="nav-tag" href="#about">About me</a>
        </li>
        <li class="nav-link-tag">
          <a class="nav-tag" href="#projects">Projects</a>
        </li>
        <li class="nav-link-tag">
          <a class="nav-tag" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu-btn js-open-menu">
      <svg class="mob-svg" width="16" height="16">
        <use href="./img/icon.svg#icon-lets-mob"></use>
      </svg>
    </button>
  </div>
</header>
