<section class="section-padding">
    <div class="container hero-bg-color">

    
    <div class="container ">
        <div class="hero-box-title">
            <h1>Hello, I am <span class="hero-accent">Fullstack
                developer</span></h1>
        
        <picture class="hero-img">
            <source media="(min-width:1280px)" srcset="/img/about_foto.jpg 1x, /img/about_foto_xx.jpg 2x>"
            type="image">
            <img src="/img/about_foto.jpg" alt="Fullstack developer" loading="lazy"
           
            width= 592px
            height= 444px
            >
        </picture>
    </div>
    <div class="hero-text">
        <button type="button" class="hero-btn hero-button hero-bg-color2" aria-label="Order the project">
          <span class="rectangle"> </span>
          <div class="hero-button-inner">
            <a href=""><svg class="icon-button" width="30" height="16">
              <use href="/img/icon.svg#icon-hero-icon"></use>
            </svg>
            Order the project
        </a>
          </div>
        </button>
        <p class="hero-description">
          I work with people all over the world to create
          <span class="accent-description">impressive</span>
          and <span class="accent-description">functional websites</span> that reflect each client’s
          unique personality.
        </p>
      </div>
</div>
</div>
<div class="hero-social">
    <div class="container">
        <ul class="social-list">
            <li class="social-list-item"><a href="https://www.instagram.com/goitclub/" 
                target="_blank" 
                rel="noopener no-referrer"
                aria-label="go to Instagram">
                Instagram</a>
            </li>
            <li class="social-list-item"><a href="https://www.facebook.com/goITclub/" 
                target="_blank" 
                rel="noopener no-referrer" 
                aria-label="go to facebook">Facebook</a></li>
            <li class="social-list-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" 
                target="_blank" 
                rel="noopener no-referrer"
                aria-label="go to linkedin">
                Linkedin</a></li>
            <li class="social-list-item"><a href="https://github.com/igorivchenko/Portfolio-project" 
                target="_blank" 
                rel="noopener no-referrer"
                aria-label="go to github">GitHub</a></li>
        </ul>
    </div>
  </div>
</section>
