<section class="section-padding hero-bg-color">
  <div class="container hero-bg-color2">
    <div class="hero-box-title">
      <h1 class="hero-title">
        Hello, I am <span class="hero-accent">Fullstack developer</span>
      </h1>
      <img
        class="hero-img"
        srcset="/img/hero_foto.jpg 1x, /img/hero_foto_xx.jpg 2x"
        src="/img/hero_foto.jpg"
        alt="Fullstack developer"
        loading="lazy"
        width="592"
        height="444"
      />
    </div>
    <div class="hero-text">
      <a
        href="#contacts"
        class="hero-btn hero-button"
        aria-label="Order the project"
      >
        <span class="rectangle"> </span>
        <div class="hero-button-inner">
          <svg class="icon-button" width="30" height="16">
            <use href="/img/icon.svg#icon-hero-icon"></use>
          </svg>
          Order the project
        </div>
      </a>
      <p class="hero-description">
        I work with people all over the world to create
        <span class="accent-description">impressive</span>
        and <span class="accent-description">functional websites</span> that
        reflect each client’s unique personality.
      </p>
    </div>
    <div class="hero-social">
      <ul class="social-list">
        <li class="social-list-item">
          <a
            class="social-list-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener no-referrer"
            aria-label="go to Instagram"
          >
            Instagram</a
          >
        </li>
        <li class="social-list-item">
          <a
            class="social-list-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener no-referrer"
            aria-label="go to facebook"
            >Facebook</a
          >
        </li>
        <li class="social-list-item">
          <a
            class="social-list-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener no-referrer"
            aria-label="go to linkedin"
          >
            Linkedin</a
          >
        </li>
        <li class="social-list-item">
          <a
            class="social-list-link"
            href="https://github.com/igorivchenko/Portfolio-project"
            target="_blank"
            rel="noopener no-referrer"
            aria-label="go to github"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
