<div class="mob-menu js-menu-container">
  <header class="mob-header">
    <a class="mob-logo" href="./index.html"
      >Lloyd<span class="mob-accent">Jefferson.</span></a
    >
    <button class="mob-btn-close js-close-menu" title="close" type="button">
      <svg class="mob-close-svg" width="16" height="16">
        <use href="./img/icon.svg#icon-closing"></use>
      </svg>
    </button>
  </header>
  <nav class="mob-nav">
    <ul class="mob-nav-list">
      <li class="mob-nav-link-tag">
        <a class="mob-nav-tag current" href="#about">About me</a>
      </li>
      <li class="mob-nav-link-tag">
        <a class="mob-nav-tag" href="#projects">Projects</a>
      </li>
      <li class="mob-nav-link-tag">
        <a class="mob-nav-tag" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
