<section class="section">
    <div class="container">
        <h2 class="projects-head">My <span class="projects-title">projects<span></h2>
        <ul class="projects-list">
            <li>
                <img class="project-img" src="../img/projects1.jpg 1x" alt="Wallet webservice" srcset="../img/projects1.jpg 1x, ../img/projects1_xx.jpg 2x">
                <span class="projects-stack">React, JavaScript, Node JS, Git</span>
                <div class="projects-box">
                    <span class="projects-name">power pulse webservice</span>
                    <span class="projects-visit">
                        <a class="projects-link" href="#">
                            visit
                            <svg class="projects-icon">
                                <use href="../img/icon.svg#icon-projects-icon"></use>
                            </svg>
                        </a>
                    </span>
                </div>
            </li>
            <li>
                <img class="project-img" src="../img/projects2.jpg 1x" alt="Wallet webservice" srcset="../img/projects2.jpg 1x, ../img/projects2_xx.jpg 2x">
                <span class="projects-stack">React, JavaScript, Node JS, Git</span>
                <div class="projects-box">
                    <span class="projects-name">mimino website</span>
                    <span class="projects-visit">
                        <a class="projects-link" href="#">
                            visit
                            <svg class="projects-icon">
                                <use href="../img/icon.svg#icon-projects-icon"></use>
                            </svg>
                        </a>
                    </span>
                </div>
            </li>
            <li>
                <img class="project-img" src="../img/projects3.jpg 1x" alt="Wallet webservice" srcset="../img/projects3.jpg 1x, ../img/projects3_xx.jpg 2x">
                <span class="projects-stack">React, JavaScript, Node JS, Git</span>
                <div class="projects-box">
                    <span class="projects-name">vyshyvanka vibes Landing Page</span>
                    <span class="projects-visit">
                        <a class="projects-link" href="#">
                            visit
                            <svg class="projects-icon">
                                <use href="../img/icon.svg#icon-projects-icon"></use>
                            </svg>
                        </a>
                    </span>
                </div>
            </li>
        </ul>
        <button class="projects-more"><span class="projects-more-text">load more</span></button>
    </div>
</section>