<section class="section">
  <div class="reviews-container">
    <h2 class="reviews-title">reviews</h2>
    <div class="reviews-wrapper">
      <div class="swiper">
        <ul class="swiper-wrapper"></ul>
      </div>
      <div class="button-wrapper visually-hidden">
        <button aria-label="previous review" class="swiper-button-prev">
          <svg class="" width="20px" height="20px">
            <use href="/img/icon.svg#icon-arrow-left2"></use>
          </svg>
        </button>
        <button aria-label="next review" class="swiper-button-next">
          <svg class="icon-svg" width="20px" height="20px">
            <use href="/img/icon.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
