<section class="reviews-section section">

	<h1 class="reviews-title">reviews</h1>
	<div class="reviews-wrapper">
		<div class="swiper">
			<ul class="swiper-wrapper">

			</ul>
		</div>

		<div class="button-wrapper">
			<button class="swiper-button-prev"><svg class="" width="24px" height="24px">
					<use href="../img/icon.svg#icon-reviews-left"></use>
				</svg></button>
			<button class="swiper-button-next"><svg class="" width="24px" height="24px">
					<use href="../img/icon.svg#icon-reviews-right"></use>
				</svg></button>
		</div>
	</div>
</section>