<section class="tech-skills section">
  <h2 class="visually-hidden">tech-skills</h2>
  <div class="marquee">
    <div class="marquee-upper">
      <p class="marquee-line">
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
      </p>
      <p class="marquee-line">
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
      </p>
    </div>
    <div class="marquee-lower">
      <p class="marquee-line">
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
      </p>
      <p class="marquee-line">
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        HTML/CSS
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        JavaScript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Node.js
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        React Native
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
        Typescript
        <svg class="marquee-line-icon">
          <use href="/img/icon.svg#icon-tech-skills"></use>
        </svg>
      </p>
    </div>
  </div>
</section>
