<!-- version 1.3 -->
<section class="work-together" id="contacts">
  <div class="container">
    <div class="work-together-row-div">
      <h2 class="work-together-title">
        <span class="black-text">Let’s</span> work together
      </h2>
    </div>
    <div class="work-together-row-container">
      <div class="work-together-adress-title">
        <p class="work-together-form-title">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="work-together-address">
          <ul class="work-together-address-list">
            <li class="work-together-address-itemlist">
              <a class="work-together-address-link" href="tel:+380904567890">
                <svg class="work-together-address-icon" width="24" height="24">
                  <use href="/img/icon.svg#icon-lets-tel-1"></use>
                </svg>
                +38 090 456 78 90
              </a>
            </li>
            <li class="work-together-address-itemlist">
              <a
                class="work-together-address-link"
                href="mailto:lloydjefferson@gmail.com"
              >
                <svg class="work-together-address-icon" width="24" height="24">
                  <use href="/img/icon.svg#icon-lets-email-2"></use>
                </svg>
                lloydjefferson@gmail.com
              </a>
            </li>
            <li class="work-together-address-itemlist">
              <a
                class="work-together-address-link"
                href="https://www.google.com/maps/place/USA,+New+York"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="work-together-address-icon" width="24" height="24">
                  <use href="/img/icon.svg#icon-lets-address-3"></use>
                </svg>
                USA, New York
              </a>
            </li>
          </ul>
        </address>
      </div>
      <form class="work-together-form" id="work-together-form" novalidate>
        <div class="work-together-form-email">
          <label class="work-together-form-label visually-hidden" for="email"
            >Your email*</label
          >
          <div class="work-together-input-email">
            <input
              class="work-together-form-input"
              id="email"
              type="email"
              name="email"
              placeholder="Your email*"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              required
            />
            <svg
              class="work-together-form-input-valid"
              width="16"
              height="16"
              style="display: none"
            >
              <use href="/img/icon.svg#icon-lets-ok-4"></use>
            </svg>
            <span class="error-message" id="email-error"></span>
          </div>
        </div>
        <div class="work-together-textarea-message">
          <label
            class="work-together-form-label visually-hidden"
            for="user-comment"
            >Message</label
          >
          <textarea
            class="work-together-form-textarea"
            id="user-comment"
            name="message"
            placeholder="Message"
            rows="4"
            cols="50"
            required
          ></textarea>
          <span class="error-message" id="message-error"></span>
        </div>
        <button type="submit" class="work-together-submit-button">
          SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</section>

<div class="work-together-modal-backdrop" id="modal-backdrop">
  <div class="work-together-modal-window" id="modal-window">
    <div class="dark-theme">
      <button
        class="work-together-modal-close-btn"
        id="modal-close-btn"
        aria-label="Close modal"
      >
        <svg class="work-together-form-modal-close" width="24" height="24">
          <use href="/img/icon.svg#icon-closing"></use>
        </svg>
      </button>
    </div>
    <h2 class="work-together-modal-title" id="modal-title">
      Thank you for your interest in cooperation!
    </h2>
    <p class="work-together-modal-message" id="modal-message">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
