.page-header {
  padding-block: 20px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.accent {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-green);
}

.btn-header {
  position: relative;
  width: 38px;
  height: 22px;
  margin-left: auto;
  border-radius: 16px;
  background-color: var(--light-grey);
  border: none;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 16%;
  left: 10%;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent-green);
  transition: 0.3s ease-in-out;
}

.right .circle {
  left: 47%;
  top: 16%;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.nav-list {
  display: none;
}

.nav-link-tag:active {
  color: var(--accent-green);
}

.mob-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mob-svg {
  fill: var(--black);
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-block: 32px;
  }

  .header-box {
    display: block;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
    margin-right: 24px;
  }

  .accent {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
  }

  .btn-header {
    width: 48px;
    height: 25px;
  }

  .circle {
    position: absolute;
    top: 7%;
    left: 10%;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--accent-green);
    transition: 0.3s ease-in-out;
  }

  .right .circle {
    left: 47%;
    top: 8%;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link-tag {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }

  .mob-menu-btn {
    display: none;
  }

  .button-theme-wrapper {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }
}

@media (min-width: 1280px) {
  .nav-link-tag {
    transition: 0.3s ease-in-out;
  }

  @media (hover: hover) {
    .nav-link-tag:hover {
      color: var(--accent-green);
    }
  }
}
